@{
    Layout = "";
}
<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pack List</title>

    <environment Names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/angular/angular-csp.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment Names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
</head>

<body>
    <div class="container body-content">
        <ui-view></ui-view>
    </div>

    <environment Names="Development">
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

        <script src="~/app/app.module.js"></script>
        <script src="~/app/constants.js"></script>
        <script src="~/app/routes.js"></script>

        <script src="~/app/utility/utility.module.js"></script>
        <script src="~/app/utility/setFocus.js"></script>

        <script asp-src-include="~/app/luggage/*.js" asp-src-exclude="~/app/luggage/*.spec.js"></script>
        <script asp-src-include="~/app/items/*.js" asp-src-exclude="~/app/items/*.spec.js"></script>


    </environment>
    <environment Names="Staging,Production">

    </environment>
</body>

</html>