@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pack List</title>

    <environment Names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/angular/angular-csp.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment Names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
</head>

<body>
<div class="container body-content">
    <div class="row">
        <div class="col-xs-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" ui-sref-active="active"><a ui-sref="home">Dashboard</a></li>
                <li role="presentation" ui-sref-active="active"><a ui-sref="items">Items</a></li>
                <li role="presentation" ui-sref-active="active"><a ui-sref="bags">Bags</a></li>
                <li role="presentation" ui-sref-active="active"><a ui-sref="luggage">Luggage</a></li>
            </ul>
        </div>
        <div class="col-xs-10"><ui-view></ui-view></div>
    </div>
</div>

    <environment Names="Development">
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

        <script src="~/app/app.module.js"></script>
        <script src="~/app/bags/bags.module.js"></script>
        <script src="~/app/constants.js"></script>
        <script src="~/app/routes.js"></script>

        <script src="~/app/utility/utility.module.js"></script>
        <script src="~/app/utility/setFocus.js"></script>

        <script asp-src-include="~/app/items/*.js" asp-src-exclude="~/app/items/*.spec.js"></script>
        <script asp-src-include="~/app/bags/*.js" asp-src-exclude="~/app/bags/*.spec.js, ~/app/bags/bags.module.js"></script>
        <script asp-src-include="~/app/luggage/*.js" asp-src-exclude="~/app/luggage/*.spec.js"></script>
        <script asp-src-include="~/app/categories/*.js" asp-src-exclude="~/app/categories/*.spec.js"></script>


    </environment>
    <environment Names="Staging,Production">

    </environment>
</body>

</html>